.card {
    height: auto;
    width: auto;

    border: 1px solid #070707;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(.5rem);
    border-radius: 1rem;
    box-shadow: 9px 8px 20px 0px rgba(0, 0, 0, 0.36);
    position: relative;
    z-index: 1;
    animation: fadeInDown 0.5s ease-in-out forwards;


    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            position: relative;
            top: 1.5rem;
            font-size: 2rem;
            font-weight: 400;
            color: var(--font);
            margin: 0;
        }
    }

    .form form {
        display: flex;
        flex-direction: column;
        padding: 2.5rem;

        color: var(--primary-detail);

        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .form label {
        font-weight: 600;
        color: var(--primary);
        font-family: "Poppins", sans-serif;
    }

    .form input {
        color: var(--font);
        font-family: "Poppins", sans-serif;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateX(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swing {

    0%,
    30%,
    50%,
    70%,
    100% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}