.container {
    width: 100%;
    height: 100%;
    background-color: #2D332D;
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "header header"
        "sidebar card"
}

.header {
    width: 100%;
    height: 100%;
    grid-area: header;
}

.sidebar {
    width: 100%;
    height: 100%;
    grid-area: sidebar;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    grid-area: card;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2C7333 none;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2C7333;
    border-radius: 10px;
  }