.formAuth {
    width: 500px;

    h3 {
        margin: 0;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 600;
        color: #4e544e;

        span {
            color: #fff;
        }
    }

    .input {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .validation {
        font-weight: 700;
        font-size: 10px;
        color: #722121;
    }

    .inputAuth {
        width: 12%;
        margin-top: 10px;
    }

    .button {
        width: 100%;
        height: 100%;
        margin-top: 20px;

    }

    svg:not(:root) {
        color: #3C413C;
        font-size: 25px;

        &:hover {
            color: #3E6943;
            animation: swing ease-in-out 0.5s 1 alternate;
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: #ffffff;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px rgba(255, 255, 255, 0);
    }

    input {
        text-align: center;
    }
}

@keyframes swing {

    0%,
    30%,
    50%,
    70%,
    100% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}