.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    opacity: 0;
}

.container.fadeOut {
    animation: fadeOutUp 0.3s ease-in-out forwards !important;
}

.container.fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}