.header {
    width: 99%;
    height: 60px;
    position: relative;
    z-index: 1;
    display: flex;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 60px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.07);
            box-shadow: 0px 0px 0px 0px transparent;
        }

        img {
            height: 90%;
            margin-left: 1px;
        }
    }

    .notification {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        column-gap: 6px;

        i {
            color: var(--primary);
            font-size: 1.5rem;
            margin: 0 8px 0 0;
            cursor: pointer;

            &:hover{
                color: var(--primary-detail);
                animation: swing ease-in-out 0.5s 1 alternate;
            }
        }

        img {
            height: 1.5rem;
            width: 1.5rem;
            cursor: pointer;

            &:hover {
                animation: swing ease-in-out 0.5s 1 alternate;
            }

            &:active {
                animation: fadeInDown 0.1s ease-in-out forwards;
            }
        }
    }

    .saudacao {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        p {
            color: var(--secundary-font);
            margin: 0 8px 0 0;
            font-weight: 600;
        }
    }

    .avatar {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: flex-end;
        cursor: pointer;

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 3px solid var(--primary);

            &:hover {
                border: 3px solid var(--primary-detail);
            }
        }

        span {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: var(--detail-grey);
            color: var(--primary);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 700;
            transition: 0.2s;

            &:hover {
                color: var(--primary-detail);
                background-color: var(--primary-dark);
            }
        }
    }

    span.active {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: flex-end;
        cursor: pointer;

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 3px solid var(--primary-detail);
        }

        span {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            color: var(--primary-detail);
            background-color: var(--primary-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

@keyframes swing {

    0%,
    30%,
    50%,
    70%,
    100% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}