:root {
    --icon-color: #2C7333
}

* {
    padding: 0;
}

.navigation {
    position: fixed;
    width: 60px;
    height: 90%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation ul li {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.navigation ul li.active {
    transform: translateX(30px);
}

.navigation ul li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.navigation ul li .icon {
    position: relative;
    display: block;
    min-width: 55px;
    height: 55px;
    line-height: 60px;
    color: var(--detail-white);
    border-radius: 10px;
    font-size: 1.5rem;
    transition: 0.5s;

    &:hover{
        color: var(--icon-color);
    }
}

.navigation ul li.active .icon {
    color: var(--detail-white);
}

.navigation ul li .icon:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}

.navigation ul li.active .icon::before {
    opacity: 0.5;
}

.logout {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 98%;
    color: var(--secundary-font);
    font-size: 2rem;

    &:hover{
        cursor: pointer;
        color: var(--detail-white);
        transition: 0.5s;
    }
}