.header {
    background-color: #2D332D;
    width: 100%;
    height: 48.5px;
    position: relative;
    z-index: 1;

    .logo {

        img {
            height: 38px;
            width: 38px;
            border-radius: 50%;
            margin: 5px;
            float: left;
        }
    }

    .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        float: right;
        cursor: pointer;
        border: 2px solid #335237;
        margin-right: 25px;
        margin-top: 2px;

        img {
            height: 38px;
            width: 38px;
            border-radius: 50%;
            margin: 1px;
        }
    }

    .avatar:hover {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        float: right;
        cursor: pointer;
        border: 2px solid #2C7333;

        img {
            height: 38px;
            width: 38px;
            border-radius: 50%;
            margin: 1px;
        }
    }

    .icon {
        float: right;
        color: #335237;
        margin-right: 10px;

        svg:not(:root) {
            font-size: 30px;
        }
    }

    .icon:hover {
        float: right;
        color: #2C7333;
        margin-right: 10px;

        svg:not(:root) {
            font-size: 30px;
            animation: swing ease-in-out 0.5s 1 alternate;
        }
    }
}

.sidebar {
    position: fixed;
    width: 48px;
    height: 100%;
    background: var(--bg-primary);
    transition: .5s;
    overflow: hidden;

    svg:not(:root) {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    svg:not(:root):hover {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        animation: swing ease-in-out 0.5s 1 alternate;
    }
}

// .sidebar:hover {
//     width: 200px;
// }

.sidebar .list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    gap: 10px;
}

.sidebar .list .itemList {
    list-style: none;
    width: 100%;
    position: relative;
}

.sidebar .list .itemList a:hover {
    color: var(--bg-secondary);
    font-weight: 700;
    border-left: 3px solid #2C7333;
}

.sidebar .list .itemList:hover a::before {
    background-color: var(--bg-active);
    width: 25%;
}

.sidebar .list .itemList a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cl-text);
}

.sidebar .list .itemList a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .5s;
}

.sidebar .list .itemList a .title {
    position: relative;
    margin: 15px;
}

.sidebar .list .itemList a .icon {
    position: relative;
    margin: 10px;
    padding: 3.5px;
}

.sidebar .list .itemList a.menu {
    border-bottom: 3px solid var(--bg-active);
    width: 100%;
}

.toggle {
    cursor: pointer;
}

:root {
    --bg-primary: #2D332D;
    --bg-secondary: #2C7333;
    --bg-active: #232623;
    --cl-text: #fff;
}

@keyframes swing {

    0%,
    30%,
    50%,
    70%,
    100% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}