.buttonBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;

  .resetPassword {
    font-size: 1.1rem;
    color: var(--secundary-font);
    float: left;
    width: 50%;
    height: 100%;
    font-weight: 500;
    text-align: center;
    margin: 2px;
    cursor: pointer;

    &:hover {
      transition: 0.3s;
      color: var(--primary-detail);
      animation: swing ease-in-out 0.5s 1 alternate;
    }
  }

  .buttonAuth {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--font);
    background: var(--primary-detail);
    border: none;
    height: 2.5rem;
    width: 50%;
    border-radius: 2rem;
    float: right;
    transition: 0.3s;
    padding: 0px 2rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@keyframes swing {

  0%,
  30%,
  50%,
  70%,
  100% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }
}