.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;

    .input {
        width: 90%;
        color: var(--detail-white);
    }

    .colors {
        width: 90%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 10px;

        .colorItens {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }

        span.active {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 2px solid var(--detail-grey);
        }

        .colorLabel {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: auto;
            width: 100%;
        }
    }

    input[type="color"] {
        border: none;
        background-color: transparent;
        height: 2.5rem;
        width: 2.3rem;
        outline: none;
        border-radius: 100%;
        cursor: pointer;

        &::-webkit-color-swatch {
            border-radius: 100%;
        }
    }

    .validation {
        font-weight: 500;
        font-size: 1rem;
        color: var(--detail-red);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--detail-white);
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px rgba(255, 255, 255, 0);
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px var(--secundary-dark) inset;
        -webkit-text-fill-color: var(--detail-white) !important;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.button {
    width: 100%;
    height: 100%;
    grid-area: button;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cancel {
    height: 30px;
    width: 160px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--secundary-dark);
    color: var(--background);
    border: 2px solid var(--background);
    border-radius: 6px;
    cursor: pointer;

    i {
        font-size: 14px;
    }

    &:hover {
        background-color: var(--background);
        color: var(--detail-white);
        animation: swing ease-in-out 0.5s 1 alternate;
    }
}

.save {
    height: 30px;
    width: 160px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--secundary-dark);
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 6px;
    cursor: pointer;

    i {
        font-size: 14px;
    }

    &:hover {
        background-color: var(--primary);
        color: var(--detail-white);
        animation: swing ease-in-out 0.5s 1 alternate;
    }
}