body {
  background: #3C413C;
  font-family: "Jaldi", sans-serif;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 32px);
  box-sizing: border-box;
  border-radius: 10px;
  justify-content: center;
  margin: 0;
}

body #root {
  width: 100%;
  height: 100vh;
}